# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
env
.venv
venv

# Instance specific data
db/stations.db
stations.db
logs/
config/local

# Vi temporary files
.*.swp


# Claude
.claude/

# IDE
.idea/
.vscode/

