[Unit]
Description=Transform weather station data and upload to Windy
After=multi-user.target

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/opt/weather-data
ExecStart=/bin/bash -c 'cd /opt/weather-data; ./start.sh'
ExecStop=/bin/bash -c 'cd /opt/weather-data; ./stop.sh'
KillSignall=SIGINT
Restart=on-failure
