[Unit]
Description=Transform weather station data and upload to Windy
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/windy-transform
ExecStart=/opt/windy-transform/start.sh
ExecStop=/opt/windy-transform/stop.sh
KillSignall=SIGINT
Restart=on-failure
