[Unit]
Description=Transform weather station data and upload to Windy
After=multi-user.target

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/opt/windy-transform
ExecStart=/bin/bash -c 'cd /opt/windy-transform; ./start.sh'
ExecStop=/bin/bash -c 'cd /opt/windy-transform; ./stop.sh'
KillSignall=SIGINT
Restart=on-failure
